@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="column column-centered landing-text">
    <h1>Photo Warehouse</h1>
    <div class="row">
        Photo Warehouse — сервис стоковых изображений,
        позволяющий осуществлять поиск фотографий с целью дальнейшего их использования на сторонних ресурсах
    </div>
    <div class="row">
        <img class="landing-image" src="~/images/pexels-james-wheeler-417074.jpg" alt="Landscape picture" />
    </div>
    <div class="row">
        Сохраняйте фотографии в корзину, оформляйте заказ, скачивайте фотографии!
    </div>
</div>
