@page
@model PhotoWarehouseApp.Pages.Admin.Categories.CreateModel

@{
    ViewData["Title"] = "Добавить категорию";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="column column-centered">

    <h2>Добавление фотографии</h2>

    <div class="row">
        <a class="clickable" asp-page="Index">Назад к списку категорий</a>
    </div>

    <form method="post" class="form-medium">
        <div class="column">
            <div asp-validation-summary="ModelOnly" class="validation-alert"></div>
            <div class="row">
                <label asp-for="PhotoCategory.Name"></label>
                <input asp-for="PhotoCategory.Name" class="form-control" />
                <span asp-validation-for="PhotoCategory.Name" class="validation-alert"></span>
            </div>
            <button type="submit" class="clickable">Создать</button>
        </div>
    </form>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>
