@page
@model PhotoWarehouseApp.Pages.Admin.Categories.DeleteModel

@{
    ViewData["Title"] = "Удалить категорию";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Удаление категории</h2>

<h3>Подтвердите удаление категории</h3>
<div class="column">
    <div class="row">
        @Html.DisplayNameFor(model => model.PhotoCategory.Name): @Model.PhotoCategory.Name
    </div>

    <form method="post">
        <input type="hidden" asp-for="PhotoCategory.Id" />
        <button type="submit" class="clickable">Удалить</button>
        <a class="clickable" asp-page="./Index">Назад к списку категорий</a>
    </form>
</div>
