@page
@model PhotoWarehouseApp.Pages.Admin.Categories.EditModel

@{
    ViewData["Title"] = "Редактировать категорию";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="column column-centered">
    <h2>Редактирование категории</h2>

    <form method="post" class="form-medium">
        <div class="column">
            <div asp-validation-summary="ModelOnly" class="validation-alert"></div>
            <input type="hidden" asp-for="PhotoCategory.Id" />
            <div class="row">
                <label asp-for="PhotoCategory.Name"></label>
                <input asp-for="PhotoCategory.Name" class="form-control" />
                <span asp-validation-for="PhotoCategory.Name" class="validation-alert"></span>
            </div>
            <button type="submit" class="clickable">Сохранить</button>
        </div>
    </form>

    <div class="row">
        <a class="clickable" asp-page="./Index">Назад к списку категорий</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>