<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Photo Warehouse</title>
    <link href="~/favicon.png" rel="icon" type="image/png" />
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container column">
        <header class="row">
            <section class="row">
                <div class="row navbar siteTitle">
                    <a asp-page="/Index"><img src="~/images/logo.png" alt="logo with a camera on it" class="logo" width="64" height="64" /></a>
                    <a asp-page="/Index" class="navItem clickable">Photo Warehouse</a>
                </div>
            </section>
            <section class="row">
                <div class="row navbar">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span id="categoriesMenuToggle" class="navItem clickable">Категории</span>
                        @await Component.InvokeAsync("CategoriesMenu");

                        @if (User.IsInRole(Areas.Identity.Roles.Administrator.ToString()))
                        {
                            <a class="navItem clickable" asp-page="/Admin/Photos/Index">Загрузка фото</a>
                            <a class="navItem clickable" asp-page="/Admin/Photos/Index">Заказы пользователей</a>
                        }
                        else if (User.IsInRole(Areas.Identity.Roles.Client.ToString()))
                        {
                            <a class="navItem clickable" asp-page="/Basket/Index">Корзина</a>
                            <a class="navItem clickable" asp-page="/Orders/Index">Заказы</a>
                        }
                    }
                </div>
            </section>
            <section class="row stickRight">
                <div class="row navbar">
                    <partial name="_LoginPartial" />
                </div>
            </section>
        </header>
        <main class="column">
            <form asp-page="/Photos/Search" method="get">
                <section class="row searchBar">
                    <input type="search" name="searchTerm" value="" placeholder="Поиск" />
                    <button><img src="~/images/search-svgrepo-com.svg" alt="search icon" class="icon" width="36" /></button>
                </section>
            </form>
            @RenderBody()
        </main>

        <footer class="row">
            <h4>footer</h4>
            &copy; 2021 - PhotoWarehouseApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </footer>

        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">PhotoWarehouseApp</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>*@
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
