<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Photo Warehouse</title>
    <link href="~/favicon.png" rel="icon" type="image/png" />
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container column">
        <header class="row">
            <section class="row">
                <div class="row navbar siteTitle">
                    <a asp-page="/Index"><img src="~/images/logo.png" alt="logo with a camera on it" class="logo" width="64" height="64" /></a>
                    <a asp-page="/Index" class="navItem clickable">Photo Warehouse</a>
                </div>
            </section>
            <section class="row">
                <div class="row navbar">
                    <span id="categoriesMenuToggle" class="navItem clickable">Категории</span>
                    @await Component.InvokeAsync("CategoriesMenu")
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole(Areas.Identity.Roles.Administrator.ToString()))
                        {
                            <a class="navItem clickable" asp-page="/Admin/Photos/Index">Загрузка фото</a>
                            <a class="navItem clickable" asp-page="/Photos/Orders/List">Заказы пользователей</a>
                        }
                        else if (User.IsInRole(Areas.Identity.Roles.Client.ToString()))
                        {
                            <a class="navItem clickable" asp-page="/Photos/Basket/Index">Корзина</a>
                            <a class="navItem clickable" asp-page="/Photos/Orders/List">Заказы</a>
                        }
                    }
                </div>
            </section>
            <section class="row stickRight">
                <div class="row navbar">
                    <partial name="_LoginPartial" />
                </div>
            </section>
        </header>
        <main class="column">
            <form asp-page="/Photos/Search" method="get">
                <section class="row searchBar">
                    <input type="search" name="searchTerm" value="" placeholder="Поиск" />
                    <button><img src="~/images/search-svgrepo-com.svg" alt="search icon" class="icon" width="36" /></button>
                </section>
            </form>
            @RenderBody()
        </main>

        <footer class="row">
            <div class="column">
                <h5>&copy; Photo Warehouse — сервис стоковых изображений</h5>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
