html, body {
    margin: 0;
    height: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 19px;
    font-weight: 900;
    color: #2a2a2a;
}

.container {
    min-height: 100vh;
}

main {
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.logo {
    padding: 10px;
    height: 64px;
    width: auto;
}

header.row h1{
    font-size: 28px;
    padding-right: .8rem;
}

header.row {
    background-color: #80FFDB;
    color: #2a2a2a;
}

/* main.column{
    background-color: #dde5fa;
} */

footer.row {
    background-color: #80FFDB;
}

#navbar {
    align-content: center;
    flex-wrap: wrap;
}

#navbar a {
    padding: .2rem .5rem;
    /* margin: 5px 5px; */

    text-decoration: none;
    font-weight: 700;
    color: #2a2a2a;
    border: 8px solid #80FFDB;
    transition: .3s;
    border-radius: 14px;
}

#navbar a:hover{
    border: 24px solid #80FFDB;
    background-color: #6930C3;

    color: #f5e3ff;
}