@page "{orderId:int}"
@model PhotoWarehouseApp.Pages.Photos.Orders.DetailsModel
@{
    ViewData["Title"] = "Заказ";
}

<div class="column">
    <div class="card-title">
        <h2>Заказ от <span class="local-date-time">@Model.Order.DateCreated.ToString("o")</span></h2>
    </div>
</div>

<div class="row card-collection">
    @foreach (var item in Model.Order.OrderItems.ToList())
    {
        <partial name="_OrderDetails" model="item" />
    }

</div>
