/*Глобальные стили для документа*/
* {
    font-family: 'Noto Sans JP', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
    font-size: 19px;
    font-weight: 400;
    color: #2a2a2a;
}

/*Главный контейнер для всего содержимого*/
.container {
    min-height: 100vh;
}

/*Строки с использованием технологии flexbox*/
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

/*Колонки с использованием технологии flexbox*/
.column {
    display: flex;
    flex-direction: column;
}

.column-centered {
    align-items: center;
}

.column-right-align {
    align-items: flex-end;
}

.logo {
    padding: 10px;
    height: 64px;
    width: auto;
}

.siteTitle {
    font-size: 24px;
}

header.row {
    background-color: #80FFDB;
    color: #2a2a2a;
}

/*Панель навигации*/
.navbar {
    align-content: center;
    flex-wrap: wrap;
}

    .navbar .navItem {
        margin: 0 .3em;
        font-weight: 700;
    }

    .navbar .clickable {
        box-shadow: 0px 2px 9px 6px rgba(0,0,0,0.06);
    }

.row.navbar {
    min-height: 3.1em;
}

.row.stickRight {
    flex-grow: 1;
    justify-content: flex-end;
}


/*Основное содержимое*/
main {
    flex: 1;
}

    main.column {
        background-color: #faefff;
        padding: 0 5.3em 2.3em;
    }

.landing-text {
    letter-spacing: .06em;
    line-height: 1.7em;
}

.landing-image {
    width: 60vw;
    height: auto;
    border-radius: 8px;
    margin: .9em 0 .9em;
}

/*Строка подвала страницы*/
footer.row {
    background-color: #80FFDB;
    justify-content: center;
    padding: .3em .6em 1.9em;
}

/*Общие стили*/

.clickable {
    text-decoration: none;
    user-select: none;
    transition: .3s;
    margin: 0 .3em .4em;
    padding: .2rem .5rem;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    color: #2a2a2a;
    border-radius: 6px;
    box-shadow: 0px 2px 9px 6px rgba(0,0,0,0.08);
}

    .clickable:hover {
        background-color: #6930C3;
        color: #fdf9ff;
    }

.icon {
    margin: .6em;
    height: 36px;
    width: auto;
}

/*Выпадающее меню*/
.expandableMenu {
    position: absolute;
    border-radius: 5px;
    background-color: #80FFDB;
    border: 1px solid rgb(177 177 177);
    padding: .5em;
    box-shadow: 0 0.6px 0.8px rgba(0, 0, 0, 0.017), 0 1.4px 1.7px rgba(0, 0, 0, 0.025), 0 2.3px 2.9px rgba(0, 0, 0, 0.031), 0 3.5px 4.3px rgba(0, 0, 0, 0.035), 0 5px 6.3px rgba(0, 0, 0, 0.04), 0 7.1px 8.9px rgba(0, 0, 0, 0.045), 0 10.1px 12.6px rgba(0, 0, 0, 0.049), 0 14.6px 18.3px rgba(0, 0, 0, 0.055), 0 22.5px 28.1px rgba(0, 0, 0, 0.063), 0 40px 50px rgba(0, 0, 0, 0.08);
}

    .expandableMenu.closed {
        display: none;
    }

/*Поисковая строка*/
.searchBar input {
    font-size: 1.5em;
    padding: .8em;
    margin: 10px;
    height: 1.9em;
    outline: 0;
    transition: .4s;
    border: .15em solid #faefff;
    outline: 1px solid black;
    border-radius: 0px;
    box-shadow: 0 0.6px 0.8px rgba(0, 0, 0, 0.017), 0 1.4px 1.7px rgba(0, 0, 0, 0.025), 0 2.3px 2.9px rgba(0, 0, 0, 0.031), 0 3.5px 4.3px rgba(0, 0, 0, 0.035), 0 5px 6.3px rgba(0, 0, 0, 0.04), 0 7.1px 8.9px rgba(0, 0, 0, 0.045), 0 10.1px 12.6px rgba(0, 0, 0, 0.049), 0 14.6px 18.3px rgba(0, 0, 0, 0.055), 0 22.5px 28.1px rgba(0, 0, 0, 0.063), 0 40px 50px rgba(0, 0, 0, 0.08);
}

    .searchBar input:hover {
        border: .15em solid #7400B8;
        background-color: #fdf9ff;
    }

.searchBar {
    margin: .7em;
    justify-content: center;
    flex-wrap: nowrap;
}

    .searchBar input {
        max-width: 70vw;
        background-color: #faefff;
    }

/*COMMON CONTROLS*/
button {
    margin: .15em;
    background: inherit;
    border: inherit;
    cursor: pointer;
    font-size: inherit;
}

select {
    border: none;
    background-color: inherit;
}

.alert {
    padding: .2em .4em;
    background-color: rgb(255 176 176);
    border-radius: 6px;
}

.validation-alert {
    font-size: .7em;
    color: red;
}

.success {
    padding: .2em .4em;
    background-color: rgb(156 207 104);
    border-radius: 6px;
}

/*CARDS*/

.row.card-collection {
    justify-content: center;
}

.card {
    width: 17em;
    height: 17.5em;
    padding-bottom: 1.1em;
    margin: .7em;
    border-radius: 5px;
    box-shadow: 0 0.6px 0.8px rgba(0, 0, 0, 0.017), 0 1.4px 1.7px rgba(0, 0, 0, 0.025), 0 2.3px 2.9px rgba(0, 0, 0, 0.031), 0 3.5px 4.3px rgba(0, 0, 0, 0.035), 0 5px 6.3px rgba(0, 0, 0, 0.04), 0 7.1px 8.9px rgba(0, 0, 0, 0.045), 0 10.1px 12.6px rgba(0, 0, 0, 0.049), 0 14.6px 18.3px rgba(0, 0, 0, 0.055), 0 22.5px 28.1px rgba(0, 0, 0, 0.063), 0 40px 50px rgba(0, 0, 0, 0.08);
}

    .card .clickable {
        box-shadow: none;
    }

    .card.card-loose-height {
        height: auto;
        padding: .7em .2em .7em;
    }

    .card.cardAutoHeight {
        padding: .8em;
        height: auto;
        width: auto;
        max-width: 65vw;
    }

        .card.cardAutoHeight > .card-picture img {
            height: auto;
            width: auto;
            max-height: max-content;
            max-width: 65vw;
            object-fit: cover;
        }

    .card.column {
        justify-content: space-evenly;
    }

.card-picture img {
    border-radius: 5px;
    margin: 0.7em 0.5em 0.4em;
    width: 15.4em;
    height: 10em;
    object-fit: scale-down;
}

.card-picture.row {
    justify-content: center;
}

.card-title {
    padding: .2em .8em;
}

    .card-title > .clickable {
        font-weight: 700;
        padding: .1em 0;
    }

.card-info {
    font-size: .7em;
    padding-bottom: .1em;
    padding-left: 1.1em;
}

.card-control {
    justify-content: flex-end;
    padding-top: .4em;
}

    .card-control > .clickable {
        font-size: .7em;
    }

/*FORM STYLES*/
.form-medium {
    width: 35vw;
}

    .form-medium > .column {
    }

    .form-medium .form-control {
        font-size: .9em;
        flex-grow: 1;
        margin: .2em .7em .2em;
        padding: .1em;
    }

    .form-medium button {
        margin: .4em .3em .7em;
    }

    .form-medium .row {
        justify-content: flex-start;
    }

        .form-medium .row > label {
            margin: .4em 0 .4em;
        }

    .form-medium select {
        box-shadow: 0px 2px 9px 6px rgba(0,0,0,0.06);
    }

    .form-medium input[type="file"] {
        opacity: 0;
    }

.form-large {
    width: 70vw;
}

/*TABLE*/
.table-wrapper {
    overflow: scroll;
    margin: 1.3em 0 .3em;
}

    .table-wrapper.small-wrapper {
        font-size: .7em;
    }

    .table-wrapper::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .table-wrapper::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    .table-wrapper::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #a7a7a7;
    }

.table {
    border-collapse: collapse;
}

    .table td, th {
        border: 1px solid rgb(120, 120, 120);
        padding: .5em .3em .5em;
        text-align: center;
    }

    .table tbody tr:nth-child(2n) {
        background-color: rgb(213 213 213);
    }

    .table tbody tr:nth-child(2n + 1) {
        background-color: rgb(234 234 234);
    }

    .table td {
        color: rgb(80, 80, 80);
        font-weight: 100;
    }

    .table th[scope="col"] {
        font-weight: 700;
        font-size: 1.3em;
        background-color: rgb(170, 170, 170);
        color: #fdf9ff;
    }


@media only screen and (max-width: 567px) {
    main.column {
        padding: 0 .8em 1.7em;
    }

    .form-medium {
        width: 75vw;
    }

    .table-wrapper {
        font-size: .6em;
    }
}
