/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    font-family: 'Noto Sans JP', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
    font-size: 19px;
    font-weight: 900;
    color: #2a2a2a;
}

.container {
    min-height: 100vh;
}

main {
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    min-height: 3.1rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.logo {
    padding: 10px;
    height: 64px;
    width: auto;
}

header.row h1 {
    font-size: 28px;
    padding-right: .8rem;
}

header.row {
    background-color: #80FFDB;
    color: #2a2a2a;
}

main.column {
    background-color: #faefff;
}

footer.row {
    background-color: #80FFDB;
}

.navbar {
    align-content: center;
    flex-wrap: wrap;
}

    .navbar .navItem {
        padding: .2rem .5rem;
        margin: 0 .3em;
        text-decoration: none;
        font-weight: 700;
        color: #2a2a2a;
        transition: .3s;
        border-radius: 6px;
    }

        .navbar .navItem:hover {
            background-color: #6930C3;
            color: #fdf9ff;
        }

.siteTitle {
    font-size: 24px;
}

.icon {
    margin: .6em;
    height: 36px;
    width: auto;
}

.searchBar input {
    font-size: 1.5em;
    padding: .8em;
    margin: 10px;
    height: 1.9em;
    outline: 0;
    transition: .4s;
    border: .15em solid #faefff;
    outline: 1px solid black;
    border-radius: 0px;
}

    .searchBar input:hover {
        border: .15em solid #7400B8;
    }

.searchBar {
    margin: .7em;
    justify-content: center;
    flex-wrap: nowrap;
}

    .searchBar input {
        max-width: 70vw;
        background-color: #faefff;
    }

/*NEW STYLES*/
button {
    background: inherit;
    border: inherit;
    cursor: pointer;
    font-size: inherit;
}
