@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}

<div class="column column-centered">
    <h1>@ViewData["Title"]</h1>
    <form id="account" method="post" class="form-medium">
        <div class="column">
            <div asp-validation-summary="All" class="validation-alert"></div>
            <div class="row">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="validation-alert"></span>
            </div>
            <div class="row">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="validation-alert"></span>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                        <input asp-for="Input.RememberMe" />
                    </label>
                </div>
            </div>
            <button type="submit" class="clickable">Войти</button>
            <a class="clickable" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрация</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
