@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.Contains("Ошибка", StringComparison.OrdinalIgnoreCase) ? "alert" : "success";
    <div class="@statusMessageClass" role="alert">
        @Model
    </div>
}