@page
@model IndexModel
@{
    ViewData["Title"] = "Профиль пользователя";
}

<div class="column column-centered">
    <h4>@ViewData["Title"]</h4>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <form id="profile-form" method="post" class="form-medium">
        <div class="column">
            <div asp-validation-summary="ModelOnly" class="validation-alert"></div>
            <div class="row">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" />
            </div>
            <div class="row">
                <label asp-for="Input.UserEmail"></label>
                <input asp-for="Input.UserEmail" class="form-control" />
                <span asp-validation-for="Input.UserEmail" class="validation-alert"></span>
            </div>
            <button id="update-profile-button" type="submit" class="clickable">Сохранить</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
