@page
@model PhotoWarehouseApp.Pages.Admin.Photos.CreateMultipleModel

@{
    ViewData["Title"] = "Добавить несколько фото";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="column column-centered">

    <h2>Добавление нескольких фотографий</h2>

    <div class="row">
        <a class="clickable" asp-page="Index">Назад к списку фотографий</a>
    </div>

    @if (Model.ImageError is not null)
    {
        <div class="alert">@Model.ImageError</div>
    }

    @if (Model.NoFilesAddedError is not null)
    {
        <div class="alert">@Model.NoFilesAddedError</div>
    }

    <form method="post" enctype="multipart/form-data" class="form-medium">
        <div class="column">
            <div asp-validation-summary="ModelOnly" class="validation-alert"></div>

            <div class="row">
                <label asp-for="Input.CommonCategoryId" class="control-label"></label>
                <select asp-for="Input.CommonCategoryId" class="form-control" asp-items="Model.Input.Categories"></select>
            </div>

            <div class="row">
                <label asp-for="Input.CommonDateTaken" class="control-label"></label>
                <input type="datetime-local" asp-for="Input.CommonDateTaken" class="form-control" />
            </div>

            <div class="row">
                <label for="photoItem" class="clickable">Загрузка фотографий</label>
                <input type="file" id="photoItem" name="photoItem" multiple value="" class="form-control" />
            </div>
            <button type="submit" class="clickable">Добавить</button>
        </div>
    </form>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
