@page
@model PhotoWarehouseApp.Pages.Admin.Photos.CreateModel

@{
    ViewData["Title"] = "Add a photo";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Photo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Photo.Name" class="control-label"></label>
                <input asp-for="Photo.Name" class="form-control" />
                <span asp-validation-for="Photo.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo.Description" class="control-label"></label>
                <input asp-for="Photo.Description" class="form-control" />
                <span asp-validation-for="Photo.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo.DateTaken" class="control-label"></label>
                <input type="datetime-local" asp-for="Photo.DateTaken" class="form-control" />
                <span asp-validation-for="Photo.DateTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo.Category" class="control-label"></label>
                <select asp-for="Photo.Category" class ="form-control" asp-items="ViewBag.Category"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
