@page
@model PhotoWarehouseApp.Pages.Admin.Photos.CreateMultipleModel

@{
    ViewData["Title"] = "Add Multiple Photos";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Add Multiple Photos</h1>

<h4>Photo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.CommonCategoryId" class="control-label"></label>
                <select asp-for="Input.CommonCategoryId" class="form-control" asp-items="Model.Input.Categories"></select>
            </div>

            <div class="form-group">
                <label asp-for="Input.CommonDateTaken" class="control-label"></label>
                <input type="datetime-local" asp-for="Input.CommonDateTaken" class="form-control" />
            </div>


            <div class="form-group">
                <label>Upload a photo</label>
                <input type="file" name="photoItem" value="" class="form-control" />
            </div>


            @*<div class="form-group">
                <label asp-for="Photo.Name" class="control-label"></label>
                <input asp-for="Photo.Name" class="form-control" />
                <span asp-validation-for="Photo.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo.Description" class="control-label"></label>
                <input asp-for="Photo.Description" class="form-control" />
                <span asp-validation-for="Photo.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo.InitialUploadDate" class="control-label"></label>
                <input asp-for="Photo.InitialUploadDate" class="form-control" />
                <span asp-validation-for="Photo.InitialUploadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo.DateTaken" class="control-label"></label>
                <input asp-for="Photo.DateTaken" class="form-control" />
                <span asp-validation-for="Photo.DateTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo.CategoryId" class="control-label"></label>
                <select asp-for="Photo.CategoryId" class="form-control" asp-items="ViewBag.Category"></select>
            </div>*@

            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to main page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
