@page
@model PhotoWarehouseApp.Pages.Admin.Photos.CreateModel

@{
    ViewData["Title"] = "Добавить фото";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="column column-centered">

    <h2>Добавление фото</h2>

    <div class="row">
        <a class="clickable" asp-page="Index">Назад к списку фотографий</a>
        <partial name="_ManageCategories" />
    </div>

    @if (Model.ImageError is not null)
    {
        <div>@Model.ImageError</div>
    }
    <form method="post" enctype="multipart/form-data" class="form-medium">
        <div class="column">
            <div asp-validation-summary="ModelOnly" class="validation-alert"></div>
            <div class="row">
                <label asp-for="Photo.Name" class="control-label"></label>
                <input asp-for="Photo.Name" class="form-control" />
                <span asp-validation-for="Photo.Name" class="validation-alert"></span>
            </div>
            <div class="row">
                <label asp-for="Photo.Description" class="control-label"></label>
                <input asp-for="Photo.Description" class="form-control" />
                <span asp-validation-for="Photo.Description" class="validation-alert"></span>
            </div>
            <div class="row">
                <label asp-for="Photo.DateTaken" class="control-label"></label>
                <input type="datetime-local" asp-for="Photo.DateTaken" class="form-control" />
                <span asp-validation-for="Photo.DateTaken" class="validation-alert"></span>
            </div>
            <div class="row">
                <label asp-for="Photo.CategoryId" class="control-label"></label>
                <select asp-for="Photo.CategoryId" class="form-control" asp-items="ViewBag.Category"></select>
            </div>
            <div class="row">
                <label for="photoItem" class="clickable">Загрузка фотографии</label>
                <input type="file" id="photoItem" name="photoItem" value="" />
            </div>
            <button type="submit" class="clickable">Добавить</button>
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
